@media screen and (min-width: 1400px) {
	
	body {
	background:black url('../images/background.jpg');
	background-attachment:fixed;
	}

	#pagewrap {
	width: 1350px;
	margin:auto;
	}
	
	#main{
	background:rgba(230, 230, 230, 1);
	}

}

@media screen and (max-width: 800px) {

	#stickyribbon {
	display: none;
	padding:0;
	width:100%;
	}
	
	/*Make all menu links full width*/
	#stickyribbon ul li{
	display:block;
	text-align:left;
	}
	
	#stickyribbon li a{
	line-height:50px;
	padding-left: 5px;	
	}
	
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}

}

