body {
	color: #000;
	font-family:Georgia;
	font-size:16px;
	background:black url('../images/background.jpg') no-repeat;
	background-attachment:fixed;
	margin:0 0 0 0;	
}

#pagewrap {
	width: 100%;
	margin: 0 auto;
}

#main{
	width:70%;
	margin:0 15% 0 15%;
	padding:0 30px 0 30px;
	background:rgba(230, 230, 230, 0.8);
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;	
}

/* Start Styles for Navigation */
#stickyribbon {
    color: #fff;
    background-color:#003366;
	text-align:center;
	width:100%;
	margin:0 0 0 0;
}

#stickyribbon ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px 40px 15px;
}

#stickyribbon ul li {
        display: inline;
        font-size: 16px;
        font-weight: bold;
        margin: 0 20px;
}

#stickyribbon ul li a {
        color: #fff;
        text-decoration: none;
        line-height:40px;
}

#stickyribbon ul li a:hover {
        color: #c9e0f7; 
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #fff;
	background-color:#003366;
	padding: 15px 60px;
	display: none;
	font-weight:bold;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
#show-menu[type=checkbox]:checked ~ #stickyribbon{
    display:block;
}
/* End Styles for Navigation */

/* Begin Styles for Main */
h1{
	text-align:center;
	margin:0 0 0 0;
	padding:30px 0 0 0;
	font-size:50px;
}

h3{
	margin:0 0 0 0;
}

p, ul{
	font-size: 16px;
	line-height:20px;
}

ul{
	list-style-image:url('../images/images.jfif');	
}

#animateimg.fade {
   opacity: .60;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
   
#animateimg.fade:hover {
      opacity: 1;
}
/* End Styles for Main */

/* Begin Styles for Footer */
#footer{
	color: #fff;
    background-color:#003366;
	text-align:center;
	margin:0 0 0 0;
	line-height:20px;

}
/* End Styles for Footer */


